*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.wrap {
	border: 1px solid red;
	max-width: 1600px;
	margin: 0 auto;
}
.medicare-wrap{
	background-position: 0 0;
	background-size: cover;
	background-image: url(img/big-medicare.png);
}
.content-wrap{
	margin: 0 auto;
	max-width: 1193px;
}
.medicare-main__wrap {
	padding:  183px 0 183px 31px;
	display: inline-block;
	text-align: center;
	border: 1px solid red;
}
.medicare-main__title {
	color: #474747;
	font-size: 47.69px;
	font-style: normal;
  	font-weight: 700;
}
.medicare-main__text{
	font-size: 17px;
}
.medicare-main__button {
}
